.textareaInput {
    font-size: 18px !important;
    font-weight: 500;
    line-height: 1.75rem;
    /* color: rgb(24 24 24 / 1); */
    padding: 4px 0;
    margin-bottom: 16px;
    @apply dark:text-white;
}

.m_8fb7ebe7 {
    color: unset !important;
}

/* .textareaInput:is(.dark *) {
    color: rgb(255 255 255 / 1) !important;
} */