.dropdown {
    background-color: rgb(246 246 246 / 0.9);
    backdrop-filter: blur(16px);
    border-radius: 1rem;
    padding: 8px;
}

.modalBtn {
    border-radius: 0.5rem !important;
}

.inner {
    padding-top: 128px !important;
}